*{
    padding: 0;
    margin: 0
}
:root{
    --primary-color: #f2726a;
}

body{
    width:100vw;
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#card{
    width: 400px;
    height: 600px;
    background-color: #242628;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px #333;

}
.info{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__img{
    width: 150px;
    height: 150px;
    border: 6px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin-top: 50px;

}
.info__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info__img img:hover{
    transform: scale(1.25);
    transition: 0.5s;
    cursor: pointer;
}
.info__name {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
   
}
.info__job {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}
.info__contact {
   margin-top: 50px;
}
.info__contact--link{
    color: #fff;
    font-size: 36px;
    text-decoration: none;
    margin: 0 26px;
    
}
.info__contact--icon:hover{
    color: var(--primary-color);
    transform: scale(1.3);
    transition: 0.3s; 
}
.info__contact-btn{
   text-align: center;
}
.contact__btn{
   width: 150px;
   height: 50px;
   color: #fff;
   background-color: #242628;
   border: 5px solid var(--primary-color);
   border-radius: 10px;
   font-size: 20px;
   font-weight: 600;
   margin-top: 50px;
   animation: filter 0.5s infinite;
   transition: all;
}
.contact__btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
@keyframes filter{
    form{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

/* Responsive */
@media only screen and (max-width: 600px) {
    #card {
        width: 300px;
        height: 550px;
    }
    .info__img {
        width: 100px;
        height: 100px;
    }
    .info__name {
        font-size: 40px
    }
    .info__job {
        font-size:25px;

    }
    .info__contact--link {
        font-size: 30px;
        margin: 0 15px;
    }
    
}